@import "../../../assets/variables.scss";

.counter {
  display: flex;
  width: 190 px;

  .counter-action {
    border: none;
    font-size: $button-font-size;
    font-weight: bold;
    color: #b0aeba;
    background-color: $button-background-color;
    padding: 20px 20px;
    cursor: pointer;
    outline: none;
  }

  .counter-action:hover {
    color: #fff;
  }

  .increment:hover {
    background: $add-color;
  }

  .decrement:hover {
    background: $remove-color;
  }

  .counter-score {
    flex-grow: 1;
    text-align: center;
    font-size: 28px;
    align-self: center;
    padding: 0px 8px;
    width: 50px;
  }
}
